@import url('./tailwindcss');
@import url('./routerTransition');

:root {
  --white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  position: relative;
}
*::selection {
  background-color: #fff;
  color: #333;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
